<!-- wp:template-part {"slug":"header","area":"header","theme":"myblocktheme"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:template-part {"slug":"hero-article","area":"uncategorized","theme":"myblocktheme"} /-->

    <!-- wp:template-part {"slug":"hero-articles","area":"uncategorized","theme":"myblocktheme"} /-->
    
    <!-- wp:template-part {"slug":"feature-subscribe","area":"uncategorized","theme":"myblocktheme"} /-->
    
    <!-- wp:template-part {"slug":"featured-issues","area":"uncategorized","theme":"myblocktheme"} /-->
    
    <!-- wp:template-part {"slug":"popular-articles","area":"uncategorized","theme":"myblocktheme"} /-->
    
    <!-- wp:template-part {"slug":"cta-b-lock","area":"uncategorized","theme":"myblocktheme"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","area":"footer","theme":"myblocktheme"} /-->